{% extends "base.html" %}
{% load number_filters %}
{% load static %}

{% block content %}
    <h1>Menu Page</h1>

    <link rel="stylesheet" type="text/css" href="{% static "css/menu.css" %}">

    <form method="post" >
        {% csrf_token %}
        <div id="nutrition_parameters">
            <table id="macronutrient_parameters_table">
                <tr>
                    <td>Price</td>
                    <td><input type="number" name="price" placeholder="Enter cost in &#162"></td>
                </tr>
                <tr>
                    <td>Calories</td>
                    <td><input type="number" name="calories"></td>
                </tr>
                <tr>
                    <td>Carbs</td>
                    <td><input type="number" name="carbs"></td>
                    <td>
                        <select name="carb_measure">
                            <option value="g">g</option>
                            <option value="percent">%</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Protein</td>
                    <td><input type="number" name="protein"></td>
                    <td>
                        <select name="protein_measure">
                            <option value="g">g</option>
                            <option value="percent">%</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Fat</td>
                    <td><input type="number" name="fat"></td>
                    <td>
                        <select name="fat_measure">
                            <option value="g">g</option>
                            <option value="percent">%</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div id="item_selection">
            <table id="item_selection_table">
                <tr>
                    {#          todo: create select deselect all button#}
                    <td></td>
                    <td>Item</td>
                    <td>Price</td>
                    <td>Calories</td>
                    <td>Carbs</td>
                    <td>Protein</td>
                    <td>Fat</td>
                </tr>
                {% for item in items %}
                <tr>
                    <td><input type="checkbox" name="items" value="{{ item.id }}" checked></td>
                    {# todo: open separate page that displays order statistics #}
                    <td><a target="_blank" href="{% url "order" %}">{{ item.name }}</a></td>
                    <td>{{ item.price | currency }}</td>
                    <td>{{ item.calories }}</td>
                    <td>{{ item.carbs }}</td>
                    <td>{{ item.protein }}</td>
                    <td>{{ item.fat }}</td>
                 </tr>
             {% endfor %}
            </table>
            <input type="submit" id="go_button" name="Go" value="GO!" />
            <button id="reset_button"><a href="{% url "menu" %}">Reset</a></button>
        </div>
    </form>
{% endblock %}