@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,body {
    height: 90em;
    background-color:#00539C;
    color:#feda6a;
    font-family:'Roboto', sans-serif;
}
#restaurant_title{
    color:#feda6a;
    font-family:'Roboto', sans-serif;
    text-align: center;
}