@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html, body{
    margin:0;
    padding:0;
    height: 100%;
    display: grid;
    background-color:#00539C;
}
#start_button a{
    text-decoration: none;
}

#start_pane {
    margin: auto;
    position:relative;
/*    #b11a21*/
/*    #feda6a;*/
}

.main_title{
margin: auto;
font-size: 50px;
color:#feda6a;
font-family: 'Poppins', sans-serif;
    
margin-left: 25px; 
margin-bottom: 100px;
}

.start_button {

height: 100px; 
width: 400px;
margin:auto;
position: relative;
font-size: 50px;
font-family: 'Poppins', sans-serif;
border-radius: 2em;
background-color:white;

}
.start_button:hover{
height: 100px; 
width: 400px;
margin:auto;
position: relative;
font-size: 50px;
font-family: 'Poppins', sans-serif;
border-radius: 2em;
    
color:white;
background-color:#393f4d;

}
.start_button:active{
    height: 100px; 
width: 400px;
margin:auto;
position: relative;
font-size: 50px;
font-family: 'Poppins', sans-serif;
border-radius: 2em;
    
color:white;
background-color:#FFD662;

}
#credits{
/*margin: auto;*/
}