@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body{
    margin:0;
    padding:0;
    height: 100%;
    display: grid;
    background-color:#00539C;
}
#start_button a{
    text-decoration: none;
}

#start_pane {
    margin: auto;
/*
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
*/
    position:relative;
/*    #b11a21*/
/*    #feda6a;*/
}

.main_title{
margin: auto;
font-size: 100px;
color:#feda6a;
font-family: 'Poppins', sans-serif;
/*font-family: 'Julius Sans One', sans-serif;*/
/*font-family:'Roboto', sans-serif;*/
font-weight: 300;
margin-left:-70px; 
margin-bottom: 100px;
}

.start_button {

height: 100px; 
width: 300px;
margin:auto;
margin-left: 150px;
position: relative;
    
font-size: 50px;
font-family: 'Poppins', sans-serif;
    
border-radius: 2em;
background-color:white;

}
.start_button:hover{
height: 100px; 
width: 300px;
margin:auto;
margin-left: 150px;
position: relative;
    
font-size: 50px;
font-family: 'Poppins', sans-serif;
    
border-radius: 2em;
    
color:white;
background-color:#393f4d;

}
.start_button:active{
    
height: 100px; 
width: 300px;
margin:auto;
margin-left: 150px;
position: relative;
font-size: 50px;
font-family: 'Poppins', sans-serif;
border-radius: 2em;
    
color:white;
background-color:#FFD662;

}