html, body{
    margin:0;
    padding:0;
}
#start_button a{
    text-decoration: none;
}

#start_pane {
    height: 100%;
    display: table-cell;
    display: block;
    background-color:#fa625f;
/*    #b11a21*/
/*    #feda6a;*/
}
#main_title{
position: absolute;
color:#feda6a;
left:45%;
top:28%;
margin-left: -50px; 
font-size: 50px;
}

#start_button {

height: 100px; 
width: 340px; 
position: absolute;
left:41%;
margin-left: -50px; 
top: 50%; 
margin-top: -50px;
font-size: 32px;
border-radius: 2em;
background-color:#d4d4dc;

}
#start_button:hover{
height: 100px; 
width: 340px; 
position: absolute;
left:41%;
margin-left: -50px; 
top: 50%; 
margin-top: -50px;
font-size: 32px;
border-radius: 2em;
color:white;
background-color:#393f4d;

}
#credits{
bottom:5px;
}