#item_selection{
  height: 80%;
}

.allergen_icon{
  width: 30px;
  height: 30px;
}

#item_selection_table{
/*    margin-top: 15px;*/
    width: 100%;
    background-color: whitesmoke;
    overflow: scroll;
}

#nutrient_parameters{
    width: 50%;
    background-color: grey;
}

#go_button{
    background-color: lawngreen;

    margin-top: 15px; /*added spacing above go button and tables*/
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
}

#reset_button{
    background-color: palevioletred;
}

#reset_button a{
    text-decoration: none;
}

#nutrition_parameters {
  height: 100%;
  max-width: 33%;
}

/* CSS for sliding side panel */

 /* The sidepanel menu */
.sidepanel {
  height: 250px; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
/*  background-color: grey;  Black*/
        background-color:#e9ebee;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidepanel a:hover {
/*  color: #f1f1f1;*/
    font-size:40px;
}

/* Position and style the close button (top right corner) */
.sidepanel .close_btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
#open_btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

#open_btn:hover {
  background-color: #444;
}

/* radio button styling */

.radiobutton {
  list-style-type: none;
  margin: 25px 0 0 25px;
  padding: 0;
}

.radiobutton {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.radiobutton label,
.radiobutton input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.radiobutton input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.radiobutton input[type="radio"]:checked+label,
.Checked+label {
  background: yellow;
}

.radiobutton label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}


.radiobutton label:hover {
  background: #DDD;
}
