html,body{
  text-align:center;
/*      overflow:hidden;*/
}

.restaurant_title{
    font-size: 6em;
/*    font-size: 100pt*/
    text-align: center;
    margin-bottom: 50px;
}

.tile {
    display:inline-block;
}

.thumbnail {
    
  text-align: center;
  margin: 50px 40px 0 0;
  width: 150px;
  height: 150px;
    
    border: solid #1F70C1 10px;
    
 
}
.thumbnail:hover{
    
    transition:.5s ease-in-out;
    filter: alpha(opacity=100);
    
    border: solid black 10px;
}