{% extends "base.html" %}
{% load number_filters %}
{% load static %}

{% block content %}
    <h1>{{ restaurant.name }} Combos</h1>

    <link rel="stylesheet" type="text/css" href="{% static "css/menu.css" %}">
    <script src="{% static "js/menu.js" %}"></script>


    <div id="combo_selection">
        <table id="combo_selection_table" class="display">
            <thead>
                <tr>
                    {#          todo: create select deselect all button#}
                    <td>Item</td>
                    <td>Allergens</td>
                    <td>Price</td>
                    <td>Calories</td>
                    <td>Carbs</td>
                    <td>Protein</td>
                    <td>Fat</td>
                </tr>
            </thead>
            <tbody>
                {% for combo in combos %}
                <tr>
                    <td><a target="_blank" href="{% url "order" combo.id %}">{{ combo.name }}</a></td>
                    <td>
                        {% if combo.has_egg %}
                            <img class="allergen_icon" src="{% static 'img/allergen_icons/egg.svg' %}" alt="This item has egg">
                        {% endif %}
                        {% if combo.has_milk %}
                            <img class="allergen_icon" src="{% static 'img/allergen_icons/milk.svg' %}" alt="This item has egg">
                        {% endif %}
                        {% if combo.has_peanuts %}
                            <img class="allergen_icon" src="{% static 'img/allergen_icons/peanuts.svg' %}" alt="This item has egg">
                        {% endif %}
                        {% if combo.has_shellfish %}
                            <img class="allergen_icon" src="{% static 'img/allergen_icons/shellfish.svg' %}" alt="This item has egg">
                        {% endif %}
                        {% if combo.has_soy %}
                            <img class="allergen_icon" src="{% static 'img/allergen_icons/soy.svg' %}" alt="This item has egg">
                        {% endif %}
                        {% if combo.has_treenuts %}
                            <img class="allergen_icon" src="{% static 'img/allergen_icons/treenuts.svg' %}" alt="This item has egg">
                        {% endif %}
                        {% if combo.has_wheat %}
                            <img class="allergen_icon" src="{% static 'img/allergen_icons/wheat.svg' %}" alt="This item has egg">
                        {% endif %}
                    </td>
                    <td>{{ combo.price | currency }}</td>
                    <td>{{ combo.calories }}</td>
                    <td>{{ combo.carbs }}</td>
                    <td>{{ combo.protein }}</td>
                    <td>{{ combo.fat }}</td>
                 </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            $(document).ready(function() {
                $('#combo_selection_table').DataTable({
                    "order": [[3, "desc"]],
                    "pageLength": 10,
                    "dataSrc": "data"
                    });
                });
        </script>
    </div>
    <script>
    $('#find_combos_form').on('submit', function(e){
                var form = this;

                // Iterate over all checkboxes in the table
                table.$('input[type="checkbox"]').each(function(){
                   // If checkbox doesn't exist in DOM
                   if(!$.contains(document, this)){
                      // If checkbox is checked
                      if(this.checked){
                         // Create a hidden element
                         $(form).append(
                            $('<input>')
                               .attr('type', 'hidden')
                               .attr('name', this.name)
                               .val(this.value)
                         );
                      }
                   }
                });
             });
    </script>
    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}