{% extends "base.html" %}
{% load number_filters %}
{% load static %}

{% block content %}
    <h1>{{ restaurant.name }}</h1>

    <link rel="stylesheet" type="text/css" href="{% static "css/menu.css" %}">
    <script src="{% static "js/menu.js" %}"></script>

    <button id="open_btn" onclick="open_nutrition()">&#9775; Set Nutritional Parameters</button>

    <form method="post" >
        {% csrf_token %}
        <div id="nutrition_parameters" class="sidepanel">
            <div id="algorithm_selection">
                <table>
                    <tr>
                        <td class="radiobutton">
                            <input type="radio" id="max" name="algorithm_selection" value="max"/>
                            <label for="max">Maximize</label>
                        </td>
                        <td class="radiobutton">
                            <input type="radio" id="up_to" name="algorithm_selection" value="up_to"/>
                            <label for="up_to">Up To</label>
                        </td>
                        <td class="radiobutton">
                            <input type="radio" id="target" name="algorithm_selection" value="target"/>
                            <label for="target">Close To</label>
                        </td>
                    </tr>
                </table>
            </div>
            <a href="javascript:void(0)" class="close_btn" onclick="close_nutrition()">&times;</a>

            <table id="macronutrient_parameters_table">
                <tr>
                    <td>Price $</td>
                    <td><input type="number" name="price" step="0.01" placeholder="Enter amount in USD" ></td>
                </tr>
                <tr class="radiobuttons">
                    <td class="radiobutton">
                        <input type="radio" id="caloriesbtn" name="nutrient_selection" value="calories"/>
                        <label for="caloriesbtn">Calories</label>
                    </td>
                    <td><input type="number" name="calories" value="0"></td>
                    <td><p>kCal</p></td>
                </tr>
                <tr>
                    <td class="radiobutton">
                        <input type="radio" id="carbsbtn" name="nutrient_selection" value="carbs"/>
                        <label for="carbsbtn">Carbs</label>
                    </td>
                    <td><input type="number" name="carbs" value="0"></td>
                    <td><p>grams</p></td>
                </tr>
                <tr>
                    <td class="radiobutton">
                        <input type="radio" id="proteinbtn" name="nutrient_selection" value="protein"/>
                        <label for="proteinbtn">Protein</label>
                    </td>
                    <td><input type="number" name="protein" value="0"></td>
                    <td><p>grams</p></td>
                </tr>
                <tr>
                    <td class="radiobutton">
                        <input type="radio" id="fatbtn" name="nutrient_selection" value="fat"/>
                        <label for="fatbtn">Fat</label>
                    </td>
                    <td><input type="number" name="fat" value="0"></td>
                    <td><p>grams</p></td>
                </tr>
            </table>
        </div>

        <div id="item_selection">
            <table id="item_selection_table">
                <tr>
                    {#          todo: create select deselect all button#}
                    <td></td>
                    <td onclick=sort_table_alphabetically_by_name()>Item</td>
                    <td onclick=sort_numerically_by_column(2)>Price</td>
                    <td onclick=sort_numerically_by_column(3)>Calories</td>
                    <td onclick=sort_numerically_by_column(4)>Carbs</td>
                    <td onclick=sort_numerically_by_column(5)>Protein</td>
                    <td onclick=sort_numerically_by_column(6)>Fat</td>
                </tr>
                {% for item in menu %}
                <tr>
                    <td><input type="checkbox" name="items" value="{{ item.id }}" checked></td>
                    {# todo: open separate page that displays order statistics #}
                    <td><a target="_blank" href="{% url "order" %}">{{ item.name }}</a></td>
                    <td>{{ item.price | currency }}</td>
                    <td>{{ item.calories }}</td>
                    <td>{{ item.carbs }}</td>
                    <td>{{ item.protein }}</td>
                    <td>{{ item.fat }}</td>
                 </tr>
             {% endfor %}
            </table>
            <input type="submit" id="go_button" name="Go" value="GO!" />
{#            <button id="reset_button"><a href="{% url "menu" menu_id %}">Reset</a></button>#}
        </div>
    </form>
{% endblock %}