{% extends "base.html" %}
{% load number_filters %}
{% load static %}

{% block content %}
    <h1>{{ restaurant.name }}</h1>

    <link rel="stylesheet" type="text/css" href="{% static "css/menu.css" %}">
    <script src="{% static "js/menu.js" %}"></script>

    <button id="open_btn" onclick="open_nutrition()">&#9775; Set Nutritional Parameters</button>

    <form method="post" id="find_combos_form" >
        {% csrf_token %}
        <div id="nutrition_parameters" class="sidepanel">
            <div id="algorithm_selection">

                <table>
                    <tr>
                        <td>Sales Tax</td>
                        <td><input type="number" step="0.1" name="sales_tax" value="9.5"></td>
                        <td><h2>%</h2></td>
                    </tr>
                </table>


                <h1>Macronutrients</h1>

                <table>
                    <tr>
                        <td class="radiobutton">
                            <input type="radio" id="less_than" name="algorithm_selection" value="less_than"/>
                            <label for="less_than">Under</label>
                        </td>
                        <td class="radiobutton">
                            <input type="radio" id="exactly" name="algorithm_selection"
                                   value="exactly" checked="checked"/>
                            <label for="exactly">Exactly</label>
                        </td>
                        <td class="radiobutton">
                            <input type="radio" id="greater_than" name="algorithm_selection" value="greater_than"/>
                            <label for="greater_than">Over</label>
                        </td>
                    </tr>
                </table>
            </div>
            <a href="javascript:void(0)" class="close_btn" onclick="close_nutrition()">&times;</a>

            <table id="macronutrient_parameters_table" border="1px">
                <tr>
                    <td>Price $</td>
                    <td><input type="number" name="price" step="0.01" value="5" placeholder="Enter amount in USD" ></td>
                </tr>
                <tr class="radiobuttons">
                    <td class="radiobutton">
                        <input type="radio" id="caloriesbtn" name="nutrient_selection" value="calories" checked="checked"/>
                        <label for="caloriesbtn">Calories</label>
                    </td>
                    <td><input type="number" name="calories" value="0"></td>
                    <td><p>kCal</p></td>
                </tr>
                <tr>
                    <td class="radiobutton">
                        <input type="radio" id="carbsbtn" name="nutrient_selection" value="carbs"/>
                        <label for="carbsbtn">Carbs</label>
                    </td>
                    <td><input type="number" name="carbs" value="0"></td>
                    <td><p>grams</p></td>
                </tr>
                <tr>
                    <td class="radiobutton">
                        <input type="radio" id="proteinbtn" name="nutrient_selection" value="protein"/>
                        <label for="proteinbtn">Protein</label>
                    </td>
                    <td><input type="number" name="protein" value="0"></td>
                    <td><p>grams</p></td>
                </tr>
                <tr>
                    <td class="radiobutton">
                        <input type="radio" id="fatbtn" name="nutrient_selection" value="fat"/>
                        <label for="fatbtn">Fat</label>
                    </td>
                    <td><input type="number" name="fat" value="0"></td>
                    <td><p>grams</p></td>
                </tr>
            </table>

            <table border="1px">
                <tr>
                    <td></td>
                    <td>Allergen</td>
                    <td>Exclude</td>
                </tr>
                <tr>
                    <td><img class="allergen_icon" src="{% static 'img/allergen_icons/egg.svg' %}" alt="Egg icon"></td>
                    <td>Egg</td>
                    <td>
                        <input type="hidden" name="exclude_egg" value=false>
                        <input type="checkbox" name="exclude_egg" value=true>
                    </td>
                </tr>
                <tr>
                    <td><img class="allergen_icon" src="{% static 'img/allergen_icons/milk.svg' %}" alt="Milk icon"></td>
                    <td>Milk</td>
                    <td>
                        <input type="hidden" name="exclude_milk" value=false>
                        <input type="checkbox" name="exclude_milk" value=true>
                    </td>
                </tr>
                <tr>
                    <td><img class="allergen_icon" src="{% static 'img/allergen_icons/shellfish.svg' %}" alt="Shellfish icon"></td>
                    <td>Shellfish</td>
                    <td>
                        <input type="hidden" name="exclude_shellfish" value=false>
                        <input type="checkbox" name="exclude_shellfish" value=true>
                    </td>
                </tr>
                <tr>
                    <td><img class="allergen_icon" src="{% static 'img/allergen_icons/soy.svg' %}" alt="Soy icon"></td>
                    <td>Soy</td>
                    <td>
                        <input type="hidden" name="exclude_soy" value=false>
                        <input type="checkbox" name="exclude_soy" value=true>
                    </td>
                </tr>
                <tr>
                    <td><img class="allergen_icon" src="{% static 'img/allergen_icons/peanuts.svg' %}" alt="Peanuts icon"></td>
                    <td>Peanuts</td>
                    <td>
                        <input type="hidden" name="exclude_peanuts" value=false>
                        <input type="checkbox" name="exclude_peanuts" value=true>
                    </td>
                </tr>
                <tr>
                    <td><img class="allergen_icon" src="{% static 'img/allergen_icons/treenuts.svg' %}" alt="Treenuts icon"></td>
                    <td>Treenuts</td>
                    <td>
                        <input type="hidden" name="exclude_treenuts" value=false>
                        <input type="checkbox" name="exclude_treenuts" value=true>
                    </td>
                </tr>
                <tr>
                    <td><img class="allergen_icon" src="{% static 'img/allergen_icons/wheat.svg' %}" alt="Wheat icon"></td>
                    <td>Wheat</td>
                    <td>
                        <input type="hidden" name="exclude_wheat" value=false>
                        <input type="checkbox" name="exclude_wheat" value=true>
                    </td>
                </tr>
                
            </table>
            <td><input type="submit" id="go_button" name="Get Combos" value="GO!" /></td>
        </div>

        <div id="item_selection">
            <table id="item_selection_table" class="display">
                <thead>
                    <tr>
                        {#          todo: create select deselect all button#}
                        <td></td>
                        <td>Item</td>
                        <td>Allergens</td>
                        <td>Price</td>
                        <td>Calories</td>
                        <td>Carbs</td>
                        <td>Protein</td>
                        <td>Fat</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in menu %}
                    <tr>
                        <td><input type="checkbox" name="items" value="{{ item.id }}" checked></td>
                        {# todo: open separate page that displays order statistics #}
                        <td><a target="_blank" href="{% url "order" item.id %}">{{ item.name }}</a></td>
                        <td>
                            {% if item.has_egg %}
                                <img class="allergen_icon" src="{% static 'img/allergen_icons/egg.svg' %}" alt="This item has egg">
                            {% endif %}
                            {% if item.has_milk %}
                                <img class="allergen_icon" src="{% static 'img/allergen_icons/milk.svg' %}" alt="This item has egg">
                            {% endif %}
                            {% if item.has_peanuts %}
                                <img class="allergen_icon" src="{% static 'img/allergen_icons/peanuts.svg' %}" alt="This item has egg">
                            {% endif %}
                            {% if item.has_shellfish %}
                                <img class="allergen_icon" src="{% static 'img/allergen_icons/shellfish.svg' %}" alt="This item has egg">
                            {% endif %}
                            {% if item.has_soy %}
                                <img class="allergen_icon" src="{% static 'img/allergen_icons/soy.svg' %}" alt="This item has egg">
                            {% endif %}
                            {% if item.has_treenuts %}
                                <img class="allergen_icon" src="{% static 'img/allergen_icons/treenuts.svg' %}" alt="This item has egg">
                            {% endif %}
                            {% if item.has_wheat %}
                                <img class="allergen_icon" src="{% static 'img/allergen_icons/wheat.svg' %}" alt="This item has egg">
                            {% endif %}
                        </td>
                        <td>{{ item.price | currency }}</td>
                        <td>{{ item.calories }}</td>
                        <td>{{ item.carbs }}</td>
                        <td>{{ item.protein }}</td>
                        <td>{{ item.fat }}</td>
                     </tr>
                    {% endfor %}
                </tbody>
            </table>

            <script>
                $(document).ready(function() {
                    $('#item_selection_table').DataTable({
                        "order": [[3, "desc"]],
                        "pageLength": 100,
                        "dataSrc": "data"
                        });
                    });


            </script>

            <input type="submit" id="go_button" name="Get Combos" value="GO!" />
{#            <button id="reset_button"><a href="{% url "menu" menu_id %}">Reset</a></button>#}
        </div>
    </form>
    <script>
    $('#find_combos_form').on('submit', function(e){
                var form = this;

                // Iterate over all checkboxes in the table
                table.$('input[type="checkbox"]').each(function(){
                   // If checkbox doesn't exist in DOM
                   if(!$.contains(document, this)){
                      // If checkbox is checked
                      if(this.checked){
                         // Create a hidden element
                         $(form).append(
                            $('<input>')
                               .attr('type', 'hidden')
                               .attr('name', this.name)
                               .val(this.value)
                         );
                      }
                   }
                });
             });
    </script>
    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}