{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static "css/restaurants.css" %}">

    <h1 id = "restaurant_title">Select a restaurant:</h1>
    <div id="resaurant_selection">
{#        <table id="restaurant_list ">#}
            {% for restaurant in restaurants %}
{#                <tr>#}
{#                    <td>#}
                        <div class="tile animated slideInLeft">
                            <a href="{% url 'menu' menu_id=restaurant.menu_id restaurant_name=restaurant.name %}">
                                <img class="thumbnail" src="../static/img/thumbnails/{{ restaurant.thumbnail_filename }}" alt="{{ restaurant.thumbnail_filename }}">
                            </a>
                        </div>
{#                    </td>#}
{#                </tr>#}
            {% endfor %}
{#        </table>#}
    </div>
{% endblock %}